service cloud.firestore {
  match /databases/{database}/documents {
    match /user {
      allow read: if request.auth != null;
      allow write;
    }

    match /{document=**} {
      allow read, write;
    }
  }
}